body{
    background: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    display: flex;
    justify-content: center;
}
.App{
    min-width: 800px;
    height: auto;
    border: 1px solid red;
    padding: 20px;


}
.run{
    background: yellow;
    padding: 10px;
}
.title{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.run__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.run__item{
    padding: 4px;
    border: 1px solid red;
}
.post{
    padding :10px;
    width :100%;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    margin-top:10px;
}
.post__text{
    font-size: 20px;
}